[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-bulk = "*"
django-queryset-csv = "*"
six = "*"
django-bulk-update-or-create = "*"

[dev-packages]
